 @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
 body {
     margin: auto;
     padding: 0;
     font-family: "Raleway", "Sans serif";
     overflow-x: hidden;
 }

 section, .header, .first {
     width: 95%;
     margin: auto;
 }
 a {
     text-decoration: none;
     color:black;
 }
 .visited:visited{
     color:black;
 }

 .infos {
     padding: 3px 0px 0px 0px;
     border: 1px solid #F2F2F2;
     border-radius: 50%;
     width: 23px;
     height: 20px;
     text-align: center;
 }

 .blue {
     color: #0065FC;
 }

 .gray {
     color: #F2F2F2;
 }

 .mb_0 {
     margin-bottom: 0px;
 }

 .mt_10 {
     margin-top: 10px;
 }
 .m_title{
    margin: 10px 10px;
 }

 /*-------------------------HEADER------------------------*/

 .header div img {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 25px 0px;
 }

 .header div a {
     display: flex;
     height: 100%;
     width: 100%;
     min-width: 100px;
     align-items: center;
     justify-content: center;
     border: 3px solid transparent;
     margin: 0px 10px;
 }

 .header div .bord:hover {
     border-top: 3px solid #0065FC;
     color: #0065FC;
 }

 .inscription {
     color: #0065FC;
     font-weight: bolder;
 }

 .header {
     height: 100px;
     display: grid;
     grid-template-columns: 1fr auto;
     grid-template-rows: repeat(1, 1fr);
 }

 .one {
     grid-column: 1;
     grid-row: 1;
 }

 .two {
     grid-column: 3/4;
     grid-row: 1;
 }

 .three {
     grid-column: 4/5;
     grid-row: 1;
 }

 .four {
     grid-column: 5/6;
     grid-row: 1;
 }

 /*-------------------------HEADER------------------------*/

 /*________________________RECHERCHE______________________*/

 .searchbar {
     display: flex;
     width: 450px;
 }

 .recherche {
     width: 75%;
 }

 .bouton {
     width: 40%;
     border-radius: 0 15px 15px 0px;
     overflow: hidden;
 }

 .searchbar button .loupe {
     background-color: #0065fc;
     border: none;
     display: none;
 }

 .searchbar i {
     display: flex;
     height: 42px;
     width: 20%;
     border: 2px #F2F2F2 solid;
     border-radius: 15px 0px 0px 15px;
     align-items: center;
     justify-content: center;
     background-color: #F2F2F2;
 }

 .searchbar #search {
     display: flex;
     width: 99%;
     height: 40px;
     text-align: left;
     font-size: large;
     border: none;
     outline: none;
     font-family: Raleway;
     border: 2px solid #F2F2F2;
     border-left: none;
     padding: 2px 0 0px 20px;
     font-size: 16px;
     font-weight: bold;
 }

 .searchbar button {
     display: flex;
     width: 100%;
     height: 96%;
     align-items: center;
     justify-content: center;
     border: none;
     outline: none;
     background-color: #0065FC;
     color: white;
     cursor: pointer;
     font-size: medium;
     font-family: Raleway;
     transition: 0.3s;
 }

 .searchbar button:hover {
     background-color: #0052ce;
 }

 .searchbar button:active span {
     transform: scale(0.95);
 }

 .filtre {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     padding: 0px;
 }



 .ti {
     margin-right: 20px;
 }

 .filtre li {
     display: flex;
     align-items: center;
     height: 40px;
     border-left: none;
     border-radius: 30px;
     margin: 5px 15px 0 0;
 }
 .wbd{
    border: 2px solid #F2F2F2;
}

 .filtre li i {
     background-color: #DEEBFF; 
     width: 45px;
     height: 45px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
 }

 .wbd:hover{
    background-color: #0065FC;
    cursor: pointer;
 }
 .wbd:hover p{
     color:white;
 }

 .filtre li p {
     color: black;
     font-weight: bold;
     padding: 10px 10px;
     border-radius: 20px;
     padding: 10px 25px 10px 10px;
 }

 .info {
     display: flex;
     align-items: baseline;
 }

 .info p {
     padding-left: 10px;
 }
 /*________________________RECHERCHE______________________*/

 /*------------------------FOOTER-------------------------*/

 footer {
     background-color: #F2F2F2;
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: 3fr;
     gap: 10px 0px;
     padding: 20px 0 40px 0;
 }

 footer ul {
     list-style: none;
 }

 footer ul li {
     margin: 20px 0 0 0;
 }

 footer a:hover {
     text-decoration: underline;
 }

 footer a:visited {
     color: black;
 }

 .foot1 {
     grid-column: 1/5;
     grid-row: 1;
 }

 .foot2 {
     grid-column: 5/9;
     grid-row: 1;
 }

 .foot3 {
     grid-column: 9/13;
     grid-row: 1;
 }

 /*__________________________FOOTER______________________*/
 /*________________Hebergement et  Populaire______________________*/
 #hebergement {
     display: grid;
     background-color: #F2F2F2;
     border-radius: 20px;
     padding: 20px 30px;
     margin-right: 20px;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 0.5fr repeat(2, 240px);
     grid-column: 1/3;
     grid-row: 1;
 }

 #hebergement h2 {
     grid-column: 1/3;
     grid-row: 1;
 }

 .une {
     grid-column: 1;
     grid-row: 2;
 }

 .deux {
     grid-column: 2;
     grid-row: 2;
 }

 .trois {
     grid-column: 3;
     grid-row: 2;
 }

 .quatre {
     grid-column: 1;
     grid-row: 3;
 }

 .cinq {
     grid-column: 2;
     grid-row: 3;
 }

 .six {
     grid-column: 3;
     grid-row: 3;
 }

 .more {
     grid-column: 1;
     grid-row: 4;
     margin: 5px 12px;
    font-size: large;
    position: relative;
    top: 30%;
 }

 .card {
     width: 90%;
     margin:15px auto;
     border: 4px white solid;
     background-color: white;
     border-radius: 20px;
     overflow: hidden;
     display: inline-block;
     transition: 300ms;
     box-shadow: 0px 4px 10px 10px rgb(241 241 241);
 }

 .card:hover {
     transform: scale(1.05);
     cursor:pointer;
 }

 .image1 {
     background: url(./image/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
     width: 100%;
     height: 125px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: bottom 0px left 0px;
 }

 .image2 {
     background: url(./image/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
     width: 100%;
     height: 125px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: bottom 0px left 0px;
 }

 .image3 {
     background: url(./image/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
     width: 100%;
     height: 125px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: bottom 0px left 0px;
 }

 .image4 {
     background: url(./image/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
     width: 100%;
     height: 125px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: bottom -35px left 0px;
 }

 .image5 {
     background: url(./image/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
     width: 100%;
     height: 125px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: bottom 0px left 0px;
 }

 .image6 {
     background: url(./image/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
     width: 100%;
     height: 125px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: bottom -85px left 0px;
 }

 .texte {
     margin: 6px 0px 0px 6px;
 }

 .card p {
     margin: 5px 0px;
 }

 .card p i {
     font-size:small;
 }

 span {
     font-weight: bold;
 }

 .populaire {
     display: grid;
     background-color: #F2F2F2;
     border-radius: 20px;
     padding: 20px 30px;
     margin-left: 20px;
     grid-column: 3/4;
     grid-row: 1;
     grid-template-columns: 1fr auto;
     grid-template-rows: 0.5fr repeat(4, auto);
     position: relative;
 }

 .populaire h2 {
     grid-column: 1;
     grid-row: 1;
 }

 .sept {
     grid-column: 1;
     grid-row: 2;
 }

 .huit {
     grid-column: 1;
     grid-row: 3;
 }

 .neuf {
     grid-column: 1;
     grid-row: 4;
 }

 .fleche {
     grid-column: 2;
     grid-row: 1;
     font-size: x-large;
     margin: auto;
     position:absolute;
     right:30px;
     top:20px;
 }

 .cardvert {
     width:90%;
     border: 4px rgb(255, 255, 255) solid;
     background-color: white;
     border-radius: 20px;
     overflow: hidden;
     display: inline-flex;
     transition: 300ms;
     position: relative;
     margin: 15px auto;
 }

 .cardvert:hover {
    transform: scale(1.05);
    cursor:pointer;
 }

 .textevert {
     width: 180px;
     height: 120px;
     padding: 0px 5px;
 }

 .cardvert p {
     margin:5px;
 }

 .cardvert .star {
     padding-top: 10px;
     position: absolute;
     bottom:0px;
 }

 .cardvert p i {
     font-size: 13px;
 }

 .image7 {
     background: url(./image/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
     width: 150px;
     height: 150px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: bottom 0px left 0px;
 }

 .image8 {
     background: url(./image/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
     width: 150px;
     height: 150px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: bottom 0px left 0px;
 }

 .image9 {
     background: url(./image/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
     width: 150px;
     height: 150px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: bottom 0px left 0px;
 }

 .first {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(1, auto);
 }
     /*________________Activité______________________*/

     #activite{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50px repeat(3,auto);
        gap:30px 30px;
        padding: 25px 0;
     }
     .act{
         border-radius: 20px;
         overflow: hidden;
         box-shadow: 0px 4px 10px 10px rgb(241 241 241);
         transition:300ms ease-in-out;
         width: 95%;
        margin: auto;
    }
    .act:hover{
        transform: scale(1.05);
        cursor:pointer;
    }
    #activite h2{
        grid-column: 1/5;
        grid-row: 1;
    }
     .actune {
        grid-column: 1;
        grid-row: 2/4;
    }
    .actdeux {
        grid-column: 2;
        grid-row: 2;

    }
    .acttrois {
        grid-column: 2;
        grid-row: 3;
    }
    .actquatre {
        grid-column: 3;
        grid-row: 2/4;
    }
    .actcinq {
        grid-column: 4;
        grid-row: 2/3;
        
    }
    .actsix {
        grid-column: 4;
        grid-row: 3/4;
        
    }

    .image10 {
        background: url(./image/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
        width: 100%;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .image11 {
        background: url(./image/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
        width: 100%;
        height: 170px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom -75px left 0px;
    }
    .image12 {
        background: url(./image/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
        width: 100%;
        height: 102px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom -35px left 0px;
        
    }
    .image13 {
        background: url(./image/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
        width: 100%;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom 0px left -75px;
    }
    .image14 {
        background: url(./image/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
        width: 100%;
        height: 170px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .image15 {
        background: url(./image/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
        width: 100%;
        height: 102px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom -50px left 0;
    }

    @media (max-width:1400px) {
        .first {
            display: grid;
            grid-template-columns: repeat(1, auto);
            grid-template-rows: repeat(2, auto);
        }
        .populaire {
            grid-column: 1;
            grid-row: 1;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(2, auto);
            column-gap: 25px;
            margin:5px;
        }
        .populaire h2 {
            grid-column: 1/3;
            grid-row: 1;
        }
        .sept {
            grid-column: 1;
            grid-row: 2;
        }
        .huit {
            grid-column: 2;
            grid-row: 2;
        }
        .neuf {
            grid-column: 3;
            grid-row: 2;
        }
        .fleche {
            grid-column: 3;
            grid-row: 1;
        }
        #hebergement {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, auto);
            column-gap: 25px;
            row-gap: 25px;
            grid-column: 1;
            grid-row: 2;
            margin:5px;
        }
        #hebergement h2 {
            grid-column: 1/3;
            grid-row: 1;
        }
        .une {
            grid-column: 1;
            grid-row: 2;
        }
        .deux {
            grid-column: 2;
            grid-row: 2;
        }
        .trois {
            grid-column: 3;
            grid-row: 2;
        }
        .quatre {
            grid-column: 1;
            grid-row: 3;
        }
        .cinq {
            grid-column: 2;
            grid-row: 3;
        }
        .six {
            grid-column: 3;
            grid-row: 3;
        }
        .more {
            grid-column: 1;
            grid-row: 4;
        }
        .card{
            width:100%;
            margin:auto;
        }
        .cardvert{
            width:100%;
            margin:15px 0px;
        }
        .texte{
            top: 0px;
                     }
    }

    @media (max-width:1200px) {
        #activite{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 50px repeat(2, 1fr);
         }
         .act{
             border-radius: 20px;
             }
         #activite h2{
            grid-column: 1/4;
            grid-row: 1;
             }
         .actune {
            grid-column: 1;
            grid-row: 2;
             }
         .actdeux {
            grid-column: 1;
            grid-row: 3;
             }
         .acttrois {
            grid-column: 2;
            grid-row: 2;
             }
         .actquatre {
            grid-column: 2;
            grid-row: 3;
             }
         .actcinq {
            grid-column: 3;
            grid-row: 2;
             }
         .actsix {
            grid-column: 3;
            grid-row: 3;
             }
             .image10{
                height: 170px;
             }
             .image11{
                height: 170px;
                background-position: bottom -115px left 0px;
             }
             .image12{
                height: 170px;
                background-position: bottom 0px left 0px;
             }
             .image13{
                height: 170px;
                background-position: bottom 0px left 0px;
             }
             .image14{
                height: 170px;
             }
             .image15{
                height: 170px;
                background-position: bottom 0px left 0px;
             }
             .more{
                 top:0px;
             }
             
    }

    @media (max-width:1000px) {
        /*HERBERGEMENT ET POP*/
            #hebergement {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, auto);
            }
            #hebergement h2 {
                grid-column: 1/3;
                grid-row: 1;
            }
            .une {
                grid-column: 1;
                grid-row: 2;
            }
            .deux {
                grid-column: 2;
                grid-row: 2;
            }
            .trois {
                grid-column: 1;
                grid-row: 3;
            }
            .quatre {
                grid-column: 2;
                grid-row: 3;
            }
            .cinq {
                grid-column: 1;
                grid-row: 4;
            }
            .six {
                grid-column: 2;
                grid-row: 4;
            }
            .more {
                grid-column: 1;
                grid-row: 5;
            }
            .populaire {
                grid-template-columns: 1fr auto;
                grid-template-rows: repeat(4, auto);
                column-gap: 15px;
            }
            .populaire h2 {
                grid-column: 1;
                grid-row: 1;
            }
            .sept {
                grid-column: 1/3;
                grid-row: 2;
            }
            .huit {
                grid-column: 1/3;
                grid-row: 3;
            }
            .neuf {
                grid-column: 1/3;
                grid-row: 4;
            }
            .fleche {
                grid-column: 2;
                grid-row: 1;
            }
            .image7 {
                width: 40%;
            }
            .image8 {
                width: 40%;
            }
            .image9 {
                width: 40%;
                background-position: bottom -65px left 0px;
            }
        /*ACTIVITE*/
        #activite{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 50px repeat(3, 1fr);
         }
         .act{
             border-radius: 20px;
             }
         #activite h2{
            grid-column: 1/3;
            grid-row: 1;
             }
         .actune {
            grid-column: 1;
            grid-row: 2;
             }
         .actdeux {
            grid-column: 2;
            grid-row: 2;
             }
         .acttrois {
            grid-column: 1;
            grid-row: 3;
             }
         .actquatre {
            grid-column: 2;
            grid-row:3;
             }
         .actcinq {
            grid-column: 1;
            grid-row: 4;
             }
         .actsix {
            grid-column: 2;
            grid-row: 4;
             }
    }
    @media all and (min-width:0px) and (max-width:600px) {
     /*HEADER*/
     .header {
         height: 200px;
         display: grid;
         grid-template-columns: auto 1fr 1fr auto;
         grid-template-rows: repeat(2, 1fr);
     }
     .two {
         grid-column: 1/3;
         grid-row: 2;
     }
     .three {
         grid-column: 3/6;
         grid-row: 2;
     }
     .four {
         grid-column: 5/6;
         grid-row: 1;
     }
     .header div .bord {
         border-bottom: 3px solid #F2F2F2;
     }
     .header div .bord:hover {
         border-top: 3px solid transparent;
         border-bottom: 3px solid #0065FC;
         color: #0065FC;
     }
     /*HEADER*/
     /*RECHERCHE*/
    .filtre h2 {
        width: 500px;
    }
    .searchbar {
        width: 100%;
    }
    .bouton span {
        display: none;
    }
    .searchbar button .loupe {
        display: inherit;
        background: none;
    }
    .searchbar button:hover .loupe {
        background: none;
    }
    .bouton {
        width: 60px;
    }
 /*RECHERCHE*/
 /*FOOTER*/
     footer {
         background-color: #F2F2F2;
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         grid-template-rows: repeat(3, auto);
         gap: 10px 0px;
         padding: 20px 0 40px 0;
     }
     .foot1 {
         grid-column: 1;
         grid-row: 1;
     }
     .foot2 {
         grid-column: 1;
         grid-row: 2;
     }
     .foot3 {
         grid-column: 1;
         grid-row: 3;
     }
     /*FOOTER*/
     /*HEBERGEMENT ET POP*/
     .header, .first {
         width: 100%;
         margin: auto;
     }
     .header div a {
        margin: 0;
     }
     .header div img {
        margin-left: 20px;
     }
     #hebergement {
         grid-template-columns: repeat(1, 1fr);
         grid-template-rows: repeat(8, auto);
         border-radius: 0px;
         margin: 0px;
         background-color: rgb(255, 255, 255);
     }
     #hebergement h2 {
         grid-column: 1/2;
         grid-row: 1;
     }
     .une {
         grid-column: 1;
         grid-row: 2;
     }
     .deux {
         grid-column: 1;
         grid-row: 3;
     }
     .trois {
         grid-column: 1;
         grid-row: 4;
     }
     .quatre {
         grid-column: 1;
         grid-row: 5;
     }
     .cinq {
         grid-column: 1;
         grid-row: 6;
     }
     .six {
         grid-column: 1;
         grid-row: 7;
     }
     .more {
         grid-column: 1;
         grid-row: 8;
         margin: 0px;
     }
     .populaire {
         background-color: #F2F2F2;
         border-radius: 0px;
         padding: 20px 30px;
         margin: 0px;
     }
     .image7 {
         width: 150px;
     }
     .image8 {
         width: 150px;
     }
     .image9 {
         width: 150px;
         background-position: bottom -10px left 0px;
     }
    /*HEBERGEMENT ET POP*/

    /*ACTVITE*/
        #activite{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows:50px repeat(6, 1fr);
         }
         .act{
             border-radius: 20px;
             }
         #activite h2{
            grid-column: 1;
            grid-row: 1;
            margin-left: 17px;
             }
         .actune {
            grid-column: 1;
            grid-row: 2;
             }
         .actdeux {
            grid-column: 1;
            grid-row: 3;
             }
         .acttrois {
            grid-column: 1;
            grid-row: 4;
             }
         .actquatre {
            grid-column: 1;
            grid-row:5;
             }
         .actcinq {
            grid-column: 1;
            grid-row: 6;
             }
         .actsix {
            grid-column: 1;
            grid-row: 7;
             }
        .image10{
           height: 150px;
        }
        .image11{
           height: 150px;
           background-position: bottom 0px left 0px;
        }
        .image12{
           height: 150px;
        }
        .image13{
           height: 150px;
        }
        .image14{
           height: 150px;
        }
        .image15{
           height: 150px;
        }
    }