                @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
                body {
                    margin: auto;
                    padding: 0;
                    font-family: "Raleway", "Sans serif";
                }
                
                section,
                .header,
                .first {
                    width: 90%;
                    margin: auto;
                }
                
                a {
                    text-decoration: none;
                }
                
                .infos {
                    padding: 3px 0px 0px 0px;
                    border: 1px solid #F2F2F2;
                    border-radius: 50%;
                    width: 23px;
                    height: 20px;
                    text-align: center;
                }
                
                .blue {
                    color: #0065FC;
                }
                
                .gray {
                    color: #F2F2F2;
                }
                
                .mb_0 {
                    margin-bottom: 0px;
                }
                
                .mt_10 {
                    margin-top: 10px;
                }
                /*-------------------------HEADER------------------------*/
                
                .header div img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 25px 0px;
                }
                
                .header div a {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    min-width: 100px;
                    align-items: center;
                    justify-content: center;
                    border: 3px solid transparent;
                    margin: 0px 10px;
                }
                
                .header div .bord:hover {
                    border-top: 3px solid #0065FC;
                    color: #0065FC;
                }
                
                .inscription {
                    color: #0065FC;
                    font-weight: bolder;
                }
                
                .header {
                    height: 100px;
                    display: grid;
                    grid-template-columns: 1fr auto;
                    grid-template-rows: repeat(1, 1fr);
                }
                
                .one {
                    grid-column: 1;
                    grid-row: 1;
                }
                
                .two {
                    grid-column: 3/4;
                    grid-row: 1;
                }
                
                .three {
                    grid-column: 4/5;
                    grid-row: 1;
                }
                
                .four {
                    grid-column: 5/6;
                    grid-row: 1;
                }
                
                @media (max-width:600px) {
                    .header {
                        height: 200px;
                        display: grid;
                        grid-template-columns: repeat(11, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                    }
                    .two {
                        grid-column: 1/6;
                        grid-row: 2;
                    }
                    .three {
                        grid-column: 6/12;
                        grid-row: 2;
                    }
                    .four {
                        grid-column: 8/12;
                        grid-row: 1;
                    }
                    .header div .bord {
                        border-bottom: 3px solid #F2F2F2;
                    }
                    .header div .bord:hover {
                        border-top: 3px solid transparent;
                        border-bottom: 3px solid #0065FC;
                        color: #0065FC;
                    }
                }
                /*-------------------------HEADER------------------------*/
                /*________________________RECHERCHE______________________*/
                
                .searchbar {
                    display: flex;
                    width: 450px;
                }
                
                .recherche {
                    width: 75%;
                }
                
                .bouton {
                    width: 40%;
                    border-radius: 0 15px 15px 0px;
                    overflow: hidden;
                }
                
                .searchbar i {
                    display: flex;
                    height: 42px;
                    width: 20%;
                    border: 2px #F2F2F2 solid;
                    border-radius: 15px 0px 0px 15px;
                    align-items: center;
                    justify-content: center;
                    background-color: #F2F2F2;
                }
                
                .searchbar #search {
                    display: flex;
                    width: 99%;
                    height: 40px;
                    text-align: left;
                    font-size: large;
                    border: none;
                    outline: none;
                    font-family: Raleway;
                    border: 2px solid #F2F2F2;
                    border-left: none;
                    padding: 2px 0 0px 20px;
                    font-size: 16px;
                    font-weight: bold;
                }
                
                .searchbar button {
                    display: flex;
                    width: 100%;
                    height: 96%;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    outline: none;
                    background-color: #0065FC;
                    color: white;
                    cursor: pointer;
                    font-size: medium;
                    font-family: Raleway;
                    transition: 0.3s;
                }
                
                .searchbar button:hover {
                    background-color: #0052ce;
                }
                
                .searchbar button:active span {
                    transform: scale(0.95);
                }
                
                .filtre {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 0px;
                }
                
                .ti {
                    margin-right: 20px;
                }
                
                .filtre li {
                    display: flex;
                    align-items: center;
                    height: 56px;
                    border: 2px solid #F2F2F2;
                    border-left: none;
                    border-radius: 30px;
                    margin: 5px 15px 0 0;
                }
                
                .filtre li i {
                    background-color: #DEEBFF;
                    cursor: pointer;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    transition: transform 500ms;
                }
                
                .filtre li i:hover {
                    background-color: #0065FC;
                    transform: scale(1.05);
                    color: white;
                }
                
                .filtre li p {
                    color: black;
                    font-weight: bold;
                    padding: 10px 10px;
                    border-radius: 20px;
                    padding: 10px 25px 10px 10px;
                }
                
                .info {
                    display: flex;
                    align-items: baseline;
                }
                
                .info p {
                    padding-left: 10px;
                }
                
                .loupe {
                    visibility: hidden;
                }
                
                @media (max-width:600px) {
                    .filtre h2 {
                        width: 500px;
                    }
                    .searchbar {
                        width: 100%;
                    }
                    .loupe {
                        visibility: visible;
                    }
                    .bouton span {
                        visibility: hidden;
                    }
                }
                /*________________________RECHERCHE______________________*/
                /*------------------------FOOTER-------------------------*/
                
                footer {
                    background-color: #F2F2F2;
                    display: grid;
                    grid-template-columns: repeat(12, 1fr);
                    grid-template-rows: 3fr;
                    gap: 10px 0px;
                    padding: 20px 0 40px 0;
                }
                
                footer ul {
                    list-style: none;
                }
                
                footer ul li {
                    margin: 20px 0 0 0;
                }
                
                footer a:hover {
                    text-decoration: underline;
                }
                
                footer a:visited {
                    color: black;
                }
                
                .foot1 {
                    grid-column: 1/5;
                    grid-row: 1;
                }
                
                .foot2 {
                    grid-column: 5/9;
                    grid-row: 1;
                }
                
                .foot3 {
                    grid-column: 9/13;
                    grid-row: 1;
                }
                
                @media (max-width:600px) {
                    footer {
                        background-color: #F2F2F2;
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        grid-template-rows: repeat(3, auto);
                        gap: 10px 0px;
                        padding: 20px 0 40px 0;
                    }
                    .foot1 {
                        grid-column: 1;
                        grid-row: 1;
                    }
                    .foot2 {
                        grid-column: 1;
                        grid-row: 2;
                    }
                    .foot3 {
                        grid-column: 1;
                        grid-row: 3;
                    }
                }
                /*__________________________FOOTER______________________*/
                
                .hebergement {
                    flex-grow: 1;
                    background-color: #F2F2F2;
                    border-radius: 20px;
                    padding: 20px 30px;
                    margin-right: 30px;
                }
                
                .card {
                    width: 100%;
                    border: 4px white solid;
                    background-color: white;
                    border-radius: 20px;
                    overflow: hidden;
                    display: inline-block;
                }
                
                .sixcard {
                    width: 100%;
                }
                
                .image1 {
                    background: url(./image/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
                    width: 230px;
                    height: 110px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: bottom -18px left 0px;
                }
                
                .image2 {
                    background: url(./image/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
                    width: 230px;
                    height: 110px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: bottom -18px left 0px;
                }
                
                .image3 {
                    background: url(./image/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
                    width: 230px;
                    height: 110px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: bottom 0px left 0px;
                }
                
                .image4 {
                    background: url(./image/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
                    width: 230px;
                    height: 110px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: bottom -35px left 0px;
                }
                
                .image5 {
                    background: url(./image/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
                    width: 230px;
                    height: 110px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: bottom -18px left 0px;
                }
                
                .image6 {
                    background: url(./image/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
                    width: 230px;
                    height: 110px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: bottom -85px left 0px;
                }
                
                .texte {
                    margin: 0px 0px 0px 7px;
                }
                
                .card p {
                    margin: 5px 0px;
                    font-size: small;
                }
                
                .card p i {
                    font-size: x-small;
                }
                
                span {
                    font-weight: bold;
                }
                
                .populaire {
                    flex-shrink: 2;
                    background-color: #F2F2F2;
                    border-radius: 20px;
                    padding: 20px 30px;
                }
                
                .cardvert {
                    border: 4px rgb(255, 255, 255) solid;
                    background-color: white;
                    border-radius: 20px;
                    overflow: hidden;
                    display: inline-flex;
                }
                
                .textevert {
                    width: 180px;
                    height: 120px;
                    padding: 0px 0px 0px 20px;
                }
                
                .cardvert p {
                    font-size: small;
                }
                
                .cardvert .star {
                    padding-top: 10px;
                }
                
                .cardvert p i {
                    font-size: x-small;
                }
                
                .image7 {
                    background: url(./image/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
                    width: 110px;
                    height: 120px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: bottom 0px left -27px;
                }
                
                .image8 {
                    background: url(./image/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
                    width: 110px;
                    height: 120px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: bottom 0px left -27px;
                }
                
                .image9 {
                    background: url(./image/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
                    width: 110px;
                    height: 120px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: bottom 0px left 0px;
                }
                
                .first {
                    display: flex;
                    flex-direction: row;
                }